html {
  background-color: black;
}

.project-grid-container {
  grid-template-rows: 30% auto;
  height: 100vh;
  background-color: black;
}

.project-grid-header-container-melon {
  display: grid;
  grid-template-rows: 20% 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/melontimeoverview.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: black;
  min-height: 50%
}

.project-grid-header-container-hatch {
  display: grid;
  grid-template-rows: 20% 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/hatched1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: black;
  min-height: 50%
}

.project-grid-header-container-agoda {
  display: grid;
  grid-template-rows: 20% 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/agoda3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: black;
  min-height: 50%
}

.project-grid-header-container-shells {
  display: grid;
  grid-template-rows: 20% 80%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/hatched1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: black;
  min-height: 50%
}

.typography-row {
  display: grid;
  width: 100%;
  grid-template-rows: 30%;
  grid-row-gap: 1rem;
}

.typography-title {
  font-size: 2rem;
  margin-bottom: 0;
}

.typography-desc {
  letter-spacing: 0.05rem;
}

.project-button {
  position: relative;
  z-index: 10;
  height: .2rem;
  padding: 1rem;
  padding-bottom: 4rem;
  border-radius: 5rem;
  border: 0.2rem solid white;
  transition: 0.5s;
  box-sizing: content-box;
  font-size: 2rem;
  display: block;
  text-align: center;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  background: none;
  color: white;
  width: 3rem;
}

.project-button:hover {
  padding-left: 2rem;
  padding-right: 3rem;
  cursor: pointer;
  color: #257AFD;
  border: 0.2rem solid #257AFD;
}

.project-title-container {
  /* grid-template-columns: 40% 40%;
  grid-template-rows: 40% 40%;
  column-gap: 20%; */
  align-self: end;
  color: white;
  margin-left: 5vw;
  margin-top: 50vh;
}

.project-title {
  align-self: end;
  font-size: 3.5rem;
  letter-spacing: .1rem;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 30%;
}

.project-title2 {
  align-self: end;
  font-size: 3.5rem;
  letter-spacing: .1rem;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 0%;
}

.project-subtitle {
  align-self: end;
  font-size: 2rem;
  letter-spacing: .1rem;
  margin-bottom: 0;
}

.project-list {
  box-sizing: content-box;
  align-self: end;
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.project-list-item {
  display: inline-block;
  margin-right: 5%;
}

.project-title-margin {
  margin-right: 40%;
}

.project-title-margin2 {
  margin-right: 10%;
}

.project-detail-container {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  color: white;
  margin-left: 5rem;
}

#project-process {}

.process-row {
  display: grid;
  box-sizing: content-box;
  grid-template-rows: auto auto;
  grid-row-gap: 5rem;
}

.process-column {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 5% 35% auto;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  margin-top: 10rem;
  width: 85vw;
}

.process-column2 {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 37% auto;
  grid-column-gap: 5%;
  grid-row-gap: 0;
  width: 80vw;
  margin-left: 8.5rem;
}

.process-column3 {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 5%;
  grid-row-gap: 0;
  width: 78vw;
  margin-left: 8.5rem;
}

.process-column4 {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 47.5% 47.5%;
  grid-column-gap: 5%;
  grid-row-gap: 0;
  width: 78vw;
  margin-left: 8.5rem;
}

.process-paragraph-grid {
  display: grid;
  grid-template-rows: 30% 80%;
  grid-row-gap: 0;
}

.process-column5 {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 24% 24% 24% 24%;
  grid-column-gap: 5%;
  grid-row-gap: 0;
  width: 78vw;
  margin-left: 8.5rem;
}

.process-column6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-left: 8.5rem;
  width: 78vw;
}

.process-paragraph-title {
  align-self: start;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0.1rem;
  margin-top: -1rem;
  border-bottom: 1px solid white;
  max-width: 30vw;
}

.process-paragraph {
  margin-top: -0.6rem;
  max-width: 33vw;
  line-height: 160%;
}

.process-paragraph2 {
  margin-top: 2rem;
  max-width: 60vw;
  line-height: 160%;
}

.project-detail-sectiontitle {
  align-self: start;
  font-size: 3rem;
  letter-spacing: .3rem;
  margin-bottom: 0;
  display: inline-block;
  color: white;
  transform: rotate(-90deg);
  margin-left: -7rem;
  margin-top: 6rem;
}

.project-detail-pic {
  box-sizing: content-box;
  width: 100%;
  margin-left: -5rem;
}

.project-detail-pic2 {
  box-sizing: content-box;
  width: 60%;
  margin-left: 5rem;
}

.firstpara {
  margin-top: -3rem;
}

.firstpara2 {
  margin-top: -13.5rem;
}

.firstpara3 {
  margin-top: -10.5rem;
}

.firstpara4 {
  margin-top: -4.5rem;
}

#project-overview {}

@media (max-width: 1279px) {
  .project-grid-header-container-melon {
    background-image: none;
    min-height: 10%;
    max-height: 10%;
  }

  .project-grid-header-container-hatch {
    background-image: none;
    min-height: 10%;
    max-height: 10%;
  }

  .project-grid-header-container-agoda {
    background-image: none;
    min-height: 10%;
    max-height: 10%;
  }

  .project-grid-header-container-shells {
    background-image: none;
    min-height: 10%;
    max-height: 10%;
  }

  .project-title-container {
    align-self: start;
    margin-top: 0;
  }

  .process-row {
    grid-row-gap: 10rem;
  }

  .process-paragraph {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 2.3rem;
    max-width: 70vw;
  }

  .process-column3 {
    margin-top: 10rem;
  }

  .process-column4 {
    margin-top: 10rem;
  }
}

@media (max-width:700px) {
  html {
    font-size: 2vw;
  }

  .process-row {
    grid-row-gap: 20rem;
  }

  .process-column {
    grid-template-columns: 1fr;
    grid-row-gap: 10rem;
    margin-left: 7rem;
  }

  .process-column2 {
    grid-template-columns: 1fr;
    grid-row-gap: 10rem;
    margin-left: 5rem;
  }

  .process-column3 {
    grid-template-columns: 1fr;
    grid-row-gap: 10rem;
    margin-left: 5rem;
  }

  .process-column4 {
    grid-template-columns: 1fr;
    grid-row-gap: 10rem;
    margin-left: 5rem;
  }

  .process-column5 {
    grid-template-columns: 1fr;
    grid-row-gap: 10rem;
    margin-left: 5rem;
  }

  .project-title-margin {
    margin-right: 10%;
  }

  .process-paragraph {
    margin-left: -3rem;
  }

  .process-paragraph-title {
    max-width: 100vw;
  }

  .project-detail-sectiontitle {
    margin-left: -60rem;
    margin-top: -30rem;
  }

  .firstpara3 {
    margin-top: 0;
  }
}
