html {
  background-color: #FAFAFA;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: neue-haas-unica, sans-serif;
  font-size: 1vw;
}

::selection {
  color: black;
  background: #FFD74A;
}

::-moz-selection {
  color: black;
  background: #FFD74A;
}

/* section {
  z-index: 3;
} */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .8rem;
}

code {
  background-color: #FFFAF5;
  border: solid #BCBCBC 1px;
  padding: 1rem;
  margin-top: 500px;
  margin-bottom: 10rem;
}

a {
  text-decoration: none;
}

#concepts {
  border: solid black 5px;
}

.text-link {
  color: #0E73D8;
  transition: 0.5s;
  font-size: 3rem;
  font-weight: 800;
}

.text-link:hover {
  color: #EE4648;
}

.styleguide {
  margin-left: 10vw;
  margin-top: 7vh;
}

#AboutMe {
  /* transform: scale(0); */
  width: 100vw;
  /* transition: 0.5s; */
}

#mainPage {
  /* transition: 0.5s; */
  width: 100vw;
}

.mainarea {
  position: fixed;
  width: 60%;
  height: 100%;
  z-index: -1;
  top: 6%;
  margin-left: 5%;
}

.mainarea h1 {
  font-size: 3.5vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: medium;
  letter-spacing: 2px;
}

.mainarea h2 {
  font-size: 3.5vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: -5%;
}

.backarrow {
  margin-left: 5%;
  margin-top: 2%;
  position: fixed;
  z-index: -2;
  width: 2rem;
}

.imageclass {
  position: fixed;
  z-index: -5
}

.portrait {
  position: fixed;
  z-index: -5;
  height: 291.56px;
  width: 362.3px;
  margin-left: 5%;
  margin-top: 10%;
}

.aboutmearea {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -3;
  margin-left: 35%;
  margin-right: 5%;
  margin-top: 15%;
}

.aboutmearea h1 {
  font-size: 1.5vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: medium;
  letter-spacing: 2px;
}

.aboutmearea h2 {
  font-size: 2.2vw;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: -1%;
}

.buttonplacement {
  position: fixed;
  z-index: 1;
  margin-left: 5%;
  margin-top: 33%;
  margin-bottom: 50
}

.column {
  float: left;
  box-sizing: content-box;
  margin-bottom: 160px;
}

.row {
  display: grid;
  position: fixed;
  z-index: 3;
  top: 4%;
  bottom: 20%;
  left: 70%;
}

.sidetitle {
  margin-left: 20vw;
  margin-bottom: -5vh;
}

.button {
  position: relative;
  z-index: 10;
  height: 1rem;
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 10vh;
  border: 0.2rem solid #3B3B3B;
  background-color: #FAFAFA;
  transition: 0.5s;
  box-sizing: content-box;
  font-size: 1.5vw;
  display: block;
  text-align: center;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  margin-left: 1.5vw;
}

.button:hover {
  padding-left: 4rem;
  padding-right: 4rem;
  cursor: pointer;
}

.buttonselected {
  position: relative;
  z-index: 10;
  height: 1rem;
  padding: 2rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  border-radius: 10vh;
  transition: 0.5s;
  box-sizing: content-box;
  font-size: 1.5vw;
  display: block;
  text-align: center;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-left: 1.5vw;
  border: 3px solid #3B3B3B;
  background-color: #257AFD;
  padding-left: 4rem;
  padding-right: 4rem;
}

.buttonselected a {
  font-size: 1.5vw;
  text-align: center;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  color: #FAFAFA;
  font-style: normal;
  margin-left: 1.5vw;
}

.buttonGrid {
  position: relative;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto;
  /* grid-gap: 20%; */
  width: 30vw;
  margin-left: -1vw;
  /* grid-column-gap: 100px; */
}

.imagecards {
  width: 2005px;
  height: 151px;
  margin-left: -1px;
  z-index: 100;
}

.projectcards {
  position: absolute;
  width: 2000px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 6vh;
  z-index: 100;
  border-radius: 55px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
}

.projectcards h1, .projectcards h2, .projectcards a, .projectcards h3, .projectcards h4 {
  display: inline-block;
  opacity: 0;
  margin: 0;
  color: white;
  position: absolute;
  transition: 0.5s ease-in;
  animation: textload 0.5s;
}

.projectcards:hover {
  transform: translateX(-30%);
}

.projectcards h2 {
  font-size: 15px;
  top: 70%;
  left: 2%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: medium;
  line-height: 100%;
}

.projectcards h3 {
  font-size: 15px;
  top: 10%;
  left: 2%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: medium;
}

.projectcards a {
  top: 60%;
  left: 1%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: medium;
}

.projectcards h4 {
  font-size: 55px;
  bottom: 10%;
  left: 28%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-style: medium;
  line-height: 105%;
}

.projectcards h1 {
  font-size: 80px;
  bottom: 10%;
  left: 28%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: medium;
}

.styleguidecards {
  z-index: 99;
  left: 70vw;
}

.cardsection {
  margin-bottom: 30vh;
}

.projectcards:hover h1, .projectcards:hover h2, .projectcards:hover a, .projectcards:hover h3, .projectcards:hover h4 {
  opacity: 1;
}

.cursor {
  width: 75px;
  height: 75px;
  background: linear-gradient(120deg,
      #FF1744,
      #E040FB,
      #2979FF,
      #00E5FF,
      #76FF03);
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 2;
  transition: 0.15s ease;
  animation: blobRadius 3s ease infinite, blobBackground 7s ease infinite;
}

.modal-interact:hover {
  animation: hover-interact 1s ease infinite;
}

.modal {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: black;
  margin: 5% auto;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  color: white;
}

.modal-container {
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 5%;
  height: 100%;
}

.melontimemodal-pic-container {
  overflow: hidden;
  background-image: url(../images/melontimeoverview.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
}

.hatchedmodal-pic-container {
  overflow: hidden;
  background-image: url(../images/hatched1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220%;
}

.modal-pic {
  width: 200%;
  left: -50%;
}

.modal-title {
  align-self: end;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  margin-bottom: 0;
}

.modal-nested-container {
  display: grid;
  grid-template-rows: 25% 10% 50% 5% 10%;
}

.modal-nested-close {
  display: grid;
  grid-template-columns: 80% auto;
}

.modal-viewpage-btn {
  display: grid;
  /* grid-template-columns: 40% auto; */
  grid-template-columns: max-content 60%;
}

.modal-list {
  align-self: start;
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.modal-list-item {
  display: inline-block;
  margin-right: 20%;
}

.modal-button {
  position: relative;
  z-index: 10;
  height: .2rem;
  padding: 1rem;
  padding-bottom: 2.1rem;
  border-radius: 10vh;
  border: 0.2rem solid white;
  transition: 0.5s;
  box-sizing: content-box;
  font-size: 1rem;
  display: block;
  text-align: center;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
  background: none;
  color: white;
}

.modal-button:hover {
  padding-left: 4rem;
  padding-right: 4rem;
  cursor: pointer;
  color: #257AFD;
  border: 0.2rem solid #257AFD;
}

.close {
  color: #aaa;
  float: right;
  margin-right: 2vw;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@keyframes blobRadius {
  0%, 100% {
    border-radius: 42% 72% 60% 80% / 30% 60% 20% 70%;
  }

  10% {
    border-radius: 43% 23% 73% 32% / 10% 39% 71% 45%;
  }

  20% {
    border-radius: 23% 43% 61% 76% / 27% 13% 53% 67%;
  }

  30% {
    border-radius: 17% 61% 48% 52% / 86% 64% 25% 87%;
  }

  40% {
    border-radius: 60% 78% 80% 71% / 80% 66% 35% 75%;
  }

  50% {
    border-radius: 50% 67% 75% 74% / 82% 61% 45% 78%;
  }

  60% {
    border-radius: 55% 38% 72% 78% / 78% 72% 55% 80%;
  }

  70% {
    border-radius: 48% 81% 68% 75% / 86% 82% 65% 83%;
  }

  80% {
    border-radius: 62% 78% 79% 84% / 75% 75% 75% 87%;
  }

  90% {
    border-radius: 57% 89% 82% 89% / 89% 71% 85% 77%;
  }
}

@keyframes blobBackground {
  0%, 100% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 0%;
  }

  50% {
    background-position: 100% 50%;
  }
}